.project {
  width: 100%; height: 100vh;
  padding: 80px 20px 0;
  box-sizing: border-box;
  overflow: hidden;
}
.pjt_mob {
  display: none;
}
.project_container {
  position: relative;
  max-width: 1280px;
  height: 100%;
  margin: auto;
}
.project_container h1 {
  font-family: "P22 Underground";
  font-size: 58px;
  color: #191F28;
  /* margin-bottom: 20px; */
}
.pjt_subject {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pjt_subject li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.pjt_subject li h3 {
  color: #333D4B;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}
.pjt_subject li span {
  color: #3182F6;
  font-size: 16px;
  font-weight: bold;
}
.pjt_subject li button {
  display: block;
  width: 150px; height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #3182F6;
  color: #fff;
  font-size: 20px;
  font-family: "P22 Underground";
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.pjt_subject li button:first-child {
  margin-right: 20px;
}
.pjt_page {
  width: 100% !important;
  height: 480px !important;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 0.5px solid #B0B8C1;
}
.pjt_page::-webkit-scrollbar {
  width: 14px;
}
.pjt_page::-webkit-scrollbar-track {
  background: #333d4b; 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pjt_page::-webkit-scrollbar-thumb {  
  background: #6b7684; 
  border-radius: 5px;

}
.pjt_page::-webkit-scrollbar-thumb:hover {
  background: #b0b8c1; 
}
.pjt_page img {
  width: 100%;
}
.pjt_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pjt_content li {
  position: relative;
  width: 413px;
}
.pjt_content li h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333D4B;
}
.pjt_content li p {
  font-size: 16px;
  font-weight: bold;
  color: #6B7684;
}
.pjt_page2::-webkit-scrollbar-track {
  background: #B0B8C1; 
}
.pjt_page2::-webkit-scrollbar-thumb {  
  background: #6b7684; 
}
.pjt_page2::-webkit-scrollbar-thumb:hover {
  background: #333d4b; 
}
.black_bg {
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed; padding: 20px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
}
.white_bg {
  width: 100%; height: 900px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.white_bg div {
  position: fixed;
  top: 50px; right: 80px;
  width: 40px; height: 40px;
  background-image: url(../img/Xbox.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.white_bg img {
  display: block;
  width: 100%;
  margin: auto;
}
.white_bg::-webkit-scrollbar {
  width: 14px;
}
.white_bg::-webkit-scrollbar-track {
  background: #B0B8C1; 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.white_bg::-webkit-scrollbar-thumb {  
  background: #6b7684; 
  border-radius: 5px;
}
.white_bg::-webkit-scrollbar-thumb:hover {
  background: #333d4b; 
}

/* responsive max-width 1280px */
@media only screen and (max-width: 1280px) {

}

/* responsive max-width 989px */
@media only screen and (max-width: 989px) {
  .project_container h1 {
    font-size: 48px;
  }
  .pjt_subject li h3 {
    font-size: 20px;
  }
  .pjt_subject li span {
    font-size: 16px;
  }
  .pjt_subject li button {
    width: 120px; height: 40px;
    background-color: #3182F6;
    font-size: 18px;
    line-height: 40px;
  }
  .pjt_content li {
    position: relative;
    width: calc(33.3333 - 13.3333px);
    margin-right: 20px;
  }
  .pjt_content li:last-child {
    margin-right: 0px;
  }
  .pjt_content li h3 {
    font-size: 20px;
  }
  .pjt_content li p {
    font-size: 14px;
  }
  .white_bg div {
    width: 30px; height: 30px;
  }
}

/* responsive max-width 767px */
@media only screen and (max-width: 767px) {

}

/* responsive max-width 480px */
@media only screen and (max-width: 480px) {
  .project {
    padding: 40px 20px 0;
  }
  .pjt_pc {
    display: none;
  }
  .pjt_mob {
    display: block;
  }
  .pjt_subject {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .project_container h1 {
    font-size: 30px;
  }
  .pjt_subject li button {
    width: 80px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
  }
  .pjt_subject li button:first-child {
    margin-right: 10px;
  }
  .pjt_subject li h3 {
    font-size: 12px;
    margin-right: 0px;
  }
  .pjt_subject li span {
    font-size: 12px;
  }
  .pjt_subject li:first-child {
    flex-direction: column;
    align-items: flex-start;
  }
  .pjt_page {
    width: 100% !important;
    height: 60vh !important;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .pjt_content li h3 {
    font-size: 12px;
  }
  .pjt_content li p {
    font-size: 12px;
  }
  .pjt_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .pjt_content li {
    position: relative;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}